ip=192.168.1.133
port=11434
model=llama3.2-vision
imageMaxResolution=1120
basePrompt="Devueleve las calorias de la imagen. Devuelve SOLO un JSON con: calories (numero), carbohydrates (numero (gramos), proteins (numero (gramos), fats (numero (gramos). Sin texto adicional."
formatType=object
requiredProperties="calories, carbohydrates, proteins, fats"