ip=192.168.1.133
port=11434
model=llama3.2-vision
imageMaxResolution=1136
basePrompt="Analiza las calorías y macronutrientes de esta comida. DEBES devolver un JSON con EXACTAMENTE estos campos numéricos: totalCalories, carbohydrates, proteins, azucares. Si no puedes determinar algún valor con precisión, haz una estimación aproximada."
formatType=object
requiredProperties="calories, carbohydrates, proteins, sugars"
otherPropmt=basePrompt="Devueleve las calorias de la imagen. Devuelve SOLO un JSON con: calories (numero), carbohydrates (numero (gramos)), proteins (numero (gramos)), fats (numero (gramos)). Sin texto adicional."
